{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class="display-4 text-primary">Bem-vindo {{ current_user.nome_usuario }}!</h1>
    </div>

    <div class="card card-elevate shadow-sm mb-4">
        <div class="card-body">
            <h2 class="card-title mb-3">Informações de Conta</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Email:</strong> {{ current_user.email }}
                </li>
                <li class="list-group-item">
                    <strong>Nome de Usuário:</strong> {{ current_user.nome_usuario }}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
